@import "./reset.css";
@import "./globalStyles.css";

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1.875rem;
    padding: 0 1.25rem;
}

.divForm{
    width: 100%;
}

.divList{
    width: 100%;
}

main > div > h3{
    margin-top: 1.25rem;
}

main > div > h2{
    margin-top: 1.25rem;
}

@media(min-width: 1023px){
    main{
        /* max-width: 1250px; */
        margin-top: 2.5rem;
        flex-direction: row;
        gap: 60px;
        padding: 0rem 16.25rem;
        justify-content: space-evenly;
    }
    main > div > h3{
        margin-top: 0;
    }
    .divForm{
        width: 100%;
        max-width: 360px;
    }
    
    .divList{
        width: 100%;
        max-width: 560px;
    }
}